/* Reseting default vite app styles that enforce centering */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.app-container {
  min-height: 100vh;
  width: 100%;
}